
ul, li {list-style:none}

ul {padding:0;margin:0}

.container {height:500px;background:whitesmoke;}
.container ul:after {content:" ";display:table;clear:both;}
.container li {float:left;width:100px;height:100px;margin:10px 20px;color:#fff;background:#555;transition:all .2s}
.container .hzi-enter {box-shadow:0 0 10px 5px rgba(0,0,0,.9)}